form {
  .forgot-password-btn {
    font-size: 12px;
    font-weight: 600;
    color: #39cdcc;
    margin-top: -10px;
    width: 147px;
    align-content: left;
  }

  .login-btn {
    background-color: #39cdcc;
    color: #fff;
  }
}
