* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../public/fonts/AvenirNextLTPro-Bold.otf") format("truetype");
}
